<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,width=device-width">
    <link rel="icon" href="/favicon.ico">
    <title>热力图</title>
    <link href="__CHART__/css/app.d2f42203.css" rel="preload" as="style">
    <link href="__CHART__/css/chunk-vendors.c470e980.css" rel="preload" as="style">
    <link href="__CHART__/js/app.c1984838.js" rel="preload" as="script">
    <link href="__CHART__/js/chunk-vendors.e04032c2.js" rel="preload" as="script">
    <link href="__CHART__/css/chunk-vendors.c470e980.css" rel="stylesheet">
    <link href="__CHART__/css/app.d2f42203.css" rel="stylesheet">
</head>
<body>
<noscript><strong>We're sorry but hotOrder doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id="app"></div>
<script src="//webapi.amap.com/maps?v=1.4.15&key=4198c48a7964f20165cbd7d16715bcf1"></script>
<script src="//webapi.amap.com/ui/1.1/main.js"></script>
<script src="https://a.amap.com/jsapi_demos/static/demo-center/js/demoutils.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.15&key=4198c48a7964f20165cbd7d16715bcf1&plugin=AMap.Driving"></script>
<script src="//a.amap.com/jsapi_demos/static/resource/heatmapData.js"></script>
<script src="__CHART__/js/chunk-vendors.e04032c2.js"></script>
<script src="__CHART__/js/app.c1984838.js"></script>
</body>
<style>body {
    margin: 0;
    padding: 0;
}</style>
</html>