<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>平台规则</title>

</head>

<body>
    <div>
        <p style="font-size:18pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; text-align:center; widows:0"><span style="font-family:宋体; font-size:18pt; font-weight:bold">平台规则</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:bold">出租车平台用户专属规则</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">用户违规行为及责任：</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第一条
                驾驶员首次被投诉使用非注册车辆接单的，平台可对其暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">30</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日并解绑车辆；再次违反本规则或有其他严重情形的，永久停止服务。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第二条 驾驶员使用非巡游出租车的车辆接单的，平台可对其暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">90</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；再次违反本规则的，永久停止服务。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第三条
                乘客无正当理由取消订单，诱导、胁迫驾驶员取消订单，或因乘客违反平台规则导致驾驶员取消订单的，乘客需支付取消费人民币</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">2</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">元。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第四条
                驾驶员被投诉存在乘客未上车但产生账单的行为，每月首次被投诉后予以警告，警告后仍因上述行为再次被投诉的，平台可以对其暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">1-7</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；情节严重的，暂停服务</span>
            <span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">15</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日。情节特别严重的，或金额巨大的，永久停止服务。如有证据证明驾驶员存在上述行为的，除适用上述规则外，平台将扣取不当所得费用返还乘客。</span>
        </p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第五条
                驾驶员被乘客投诉存在重复发起支付行为的，每月首次被投诉后予以警告，警告后仍因上述行为再次被投诉的，平台可以对其暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">1-7</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；情节严重的，暂停服务</span>
            <span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">15-90</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；情节特别严重的，或金额巨大的，永久停止服务。如有证据证明驾驶员存在上述行为的，平台可在核实证据后，按照上述规则对其直接暂停服务或永久停止服务，同时平台可从违规驾驶员账户扣取不当所得费用返还给乘客。</span>
        </p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第六条
                驾驶员收取不合理的费用导致纠纷的，予以警告；警告后再次违反本规则的，平台可扣除其相应服务分并对其暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">1-7</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；情节严重的，暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">15</span>
            <span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；情节特别严重或金额特别巨大的，永久停止服务，并可从违规驾驶员账户扣取不当所得费用返还给乘客。</span>
        </p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第七条
                驾驶员被乘客投诉存在服务恶劣行为的，每月首次被投诉后予以警告，警告后仍因上述行为再次被投诉的，平台可以对其暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">1-7</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；情节严重的，暂停服务</span>
            <span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">15</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；情节特别严重的，永久停止服务。如有证据证明驾驶员存在上述行为的，平台可在核实证据后，按照上述规则对其直接暂停服务或永久停止服务。</span>
        </p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第八条
                为保障司乘安全，在新型冠状病毒肺炎疫情爆发期间，驾驶员在为乘客提供出行服务的过程中必须佩戴口罩。首次违反本规则，平台对其予以警告，驾驶员需同时完成指定内容的线上学习教育及考试；警告后再次违反本规则的，暂停其服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">1-3</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第九条
                除以上明确规定的违规责任外，用户存在上述违规行为，平台同时降低其服务分，服务分过低的用户，平台对其永久停止服务。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:bold">同城专车平台用户专属规则</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第一条
                用户不得向其他用户索要联系方式，但为处理尚未解决的纠纷且与对方协商一致留取联系方式，或者有其他合理理由的除外。用户违反本规则，警告后再次违反本规则的，暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">7</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；多次违反本规则的，暂停服务</span>
            <span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">15</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；情节特别严重的，或造成严重后果的，永久停止服务。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第二条
                驾驶员应按照平台要求安装车载设备，未安装或私自拆除的，平台可对其暂停服务直至其安装完毕；逾期超过</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">30</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日未安装的，平台可将其降级为提供快车出行服务的驾驶员。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第三条 用户在车上吸烟，平台可对其暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">30</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第四条 乘客乘车后</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">7</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日内未支付车费，平台可以将驾驶员应得部分先行垫付给驾驶员，然后向乘客追偿。但用户存在以下情况的，平台不予垫付：</span>
        </p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">（一）驾驶员与乘客涉嫌恶意串通损害平台利益的；</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">（二）乘客未在线上修改目的地，但实际目的地与订单目的地不一致的；</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">（三）驾驶员安装扰乱平台正常秩序的软件的；</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">（四）驾驶员与乘客涉嫌线下交易的；</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">（五）非注册驾驶员本人接单的；</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">（六）驾驶员使用非注册车辆接单的；</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">（七）驾驶员有其他严重违反平台规则的行为的。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第五条
                因驾驶员原因导致乘客在服务中途下车的，平台可从违规驾驶员账户扣除已产生的费用返还给乘客，并可扣除驾驶员服务分；情节严重的，平台可对其暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">3-7</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；情节特别严重的，平台可对其暂停服务</span>
            <span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">15</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；对乘客人身安全产生危害或造成恶劣影响的，暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">30</span>
            <span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日。</span>
        </p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第六条 用户存在下列线下交易行为的，平台可予以警告或暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">1-7</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日，并收取订单预估金额</span>
            <span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">1-3</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">倍的信用违约金；情节较重的，暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">15</span>
            <span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日，并收取订单预估金额</span>
            <span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">2-3</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">倍的信用违约金；情节严重的，暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">30</span>
            <span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日，并收取订单预估金额</span>
            <span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">3-4</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">倍的信用违约金；造成恶劣影响或严重后果的，永久停止服务：</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">（一）驾驶员要求线下交易的；</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">（二）乘客要求线下交易且双方实际完成线下交易的；</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">（三）驾驶员将乘客交给其他司机、车辆提供服务的；</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">（四）用户存在其他诱导对方线下交易或变相线下交易行为的。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第七条
                以言语、信息、电话或播放音视频等方式对其他用户进行骚扰，情节轻微的，平台可予以警告或扣除驾驶员服务分；情节严重的，可同时暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">3-7</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；情节特别严重或造成严重后果的，可同时暂停服务</span>
            <span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">8-15</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第八条
                驾驶员携带或搭载非订单中乘客的，平台可扣除其服务分并扣回该订单费用返还给乘客；情节严重或造成严重后果的，平台可对其暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">3-7</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第九条
                驾驶员应当向乘客提供平台规定的合格饮用水，提供不合格饮用水的，平台对其永久停止服务。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第十条
                平台可通过神访等方式对驾驶员在提供出行服务过程中的行为或其驾驶车辆的状况是否符合服务标准进行验证。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">驾驶员首次被神访不合格的，平台将扣除其服务分，可同时暂停其服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">3</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日以下；再次被神访不合格的，可同时暂停其服务</span>
            <span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">5</span>
            <span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日以下；多次被神访不合格的，可同时暂停其服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">10</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日以下；情节严重的，解除相关认证。驾驶员被采取处置措施的，需同时参加平台指定内容的相关学习教育。
            </span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">驾驶员在提供出行服务过程中的行为或其驾驶车辆的状况存在加分项的，可增加其相应服务分。</span>
        </p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第十一条 在平台开设的专车包车服务中，乘客可根据需要在平台选择</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">4</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">小时套餐或</span>
            <span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">8</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">小时套餐的专车包车服务。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">驾驶员接单后因自身不合理原因导致订单取消的，应承担违规责任，向乘客支付取消费。驾驶员无正当理由取消订单满</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">3</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">次的，将无法在平台继续从事专车包车服务。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">乘客在下列情形中取消专车包车预约单的，向驾驶员支付取消费：</span>
        </p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">（一）乘客选择</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">4</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">小时套餐，在距离出发时间</span>
            <span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">2</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">小时内取消的；</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">（二）乘客选择</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">8</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">小时套餐，在距离出发时间</span>
            <span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">6</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">小时内取消的；</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">（三）乘客迟到导致订单取消的。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">因不可抗力原因或平台原因导致订单被取消的，司乘双方均不承担违规责任。</span>
        </p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第十二条
                驾驶员未经平台备案，不得在提供服务的过程中向乘客售卖商品。首次违规的，扣除其服务分并对其予以警告或暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">3-7</span><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；情节严重的，暂停服务</span><span style="font-family:Calibri; font-size:10.5pt; font-weight:normal">15</span>
            <span style="font-family:宋体; font-size:10.5pt; font-weight:normal">日；情节特别严重的，永久停止服务。</span>
        </p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:宋体; font-size:10.5pt; font-weight:normal">第十三条
                除以上明确规定的违规责任外，用户存在上述违规行为，平台可同时扣除其服务分，服务分过低的用户，平台对其永久停止服务。</span></p>
        <p style="font-size:10.5pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; widows:0"><span style="font-family:Calibri; font-size:10.5pt">&#xa0;</span></p>
    </div>


</body>

</html>