<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>同城打车</title>
    <!-- <link rel="stylesheet" href="./css/swiper.min.css"> -->
    <link rel="stylesheet" href="__ENROLL__/css/base.css" />
    <link rel="stylesheet" href="__ENROLL__/css/success.css" />
    <script>
        ~(function anonymous(window) {
            let setREM = function setREM() {
                let wWith = document.documentElement.clientWidth;
                const dWith = 750;
                if (wWith >= dWith) {
                    document.documentElement.style.fontSize = "100px";
                    return;
                }

                document.documentElement.style.fontSize =
                    (wWith / dWith) * 100 + "px";
            };
            setREM();
            window.addEventListener("resize", setREM);
        })(window);
    </script>

</head>

<body>

<main>
    <h1>尊敬的用户：</h1>
    <h3>恭喜您成功注册同城打车</h3>
    <img src="__ENROLL__/images/erweima.png" alt="">
    <p>长按可保存小程序二维码</p>
    <div>
        <p>感谢您的支持</p>
        <p>期待与您同程的每一天</p>
    </div>
</main>

</body>

</html>