<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>同城打车顺风车服务协议</title>
</head>

<body>
    <div>
        <p style="font-size:14pt; line-height:115%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:宋体; font-size:14pt; font-weight:bold">同城打车顺风车服务协议</span></p>
        <p style="font-size:12pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:宋体; font-size:12pt; font-weight:normal">用户注册或使用即代表同意本协议的全部条款并应按照页面上的提示完成全部的注册流程。用户在进行注册过程中点击＂注册＂按钮即表示用户与平台达成本协议，完全接受本协议项下的全部条款，本协议即在用户与平台之间产生法律效力，对双方均具有法律约束力。</span>
        </p>
        <p style="font-size:12pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:12pt; font-weight:normal">1.</span><span style="font-family:宋体; font-size:12pt; font-weight:normal">用户注册即代表同意本协议的全部条款并应按照页面上的提示完成全部的注册流程。用户在进行注册过程中点击＂注册</span><span style="font-family:Calibri; font-size:12pt; font-weight:normal">”</span>
            <span style="font-family:宋体; font-size:12pt; font-weight:normal">按钮即表示用户与平台达成本协议，完全接受本协议项下的全部条款，本协议即在用户与平台之间产生法律效力，对双方均具有法律约束力。</span>
        </p>
        <p style="font-size:12pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:12pt; font-weight:normal">2.</span><span style="font-family:宋体; font-size:12pt; font-weight:normal">进入本平台进行交易，即代表接受本平台的各项服务协议、规则和公告并接受本平台系统提供的服务与规范，通过电子协议的形式缔结平台所有相关协议。</span>
        </p>
        <p style="font-size:12pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:12pt; font-weight:normal">3.</span><span style="font-family:宋体; font-size:12pt; font-weight:normal">用户使用本平台产生的交易，平台将按订单成交金额收取一定比例的交易手续费，具体比例按平台下的各个版块的规定执行。用户提现时，需另行支付提现时产生的支付宝或微信的提现手续费。</span>
        </p>
        <p style="font-size:12pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:12pt; font-weight:normal">3.</span><span style="font-family:宋体; font-size:12pt; font-weight:normal">只有符合下列条件之一的自然人或法人才能申请成为本平台用户，可以使用本平台的服务</span><span style="font-family:宋体; font-size:12pt; font-weight:normal">；</span></p>
        <p style="font-size:12pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:12pt; font-weight:normal">3.1</span><span style="font-family:宋体; font-size:12pt; font-weight:normal">年满十六周岁，并具有民事权利能力和民事行为能力的自然人</span><span style="font-family:宋体; font-size:12pt; font-weight:normal">；</span></p>
        <p style="font-size:12pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:12pt; font-weight:normal">3.2</span><span style="font-family:宋体; font-size:12pt; font-weight:normal">根据中国法律、法规、行政规章成立并合法存在的机关、企事业单位、社团组织和其他组织；无法人资格的机关、单位或组织，不能注册为本平台用户，其与本平台之间的协议自始无效，本平台一经发现，有权立即终止对该用户的服务，并向其追究因协议无效导致的一切法律责任。</span>
            <p style="font-size:12pt; line-height:115%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:12pt">&#xa0;</span></p>
            <p style="font-size:12pt; line-height:115%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:12pt">&#xa0;</span></p>

        </p>
    </div>

</body>

</html>