<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>用户协议和隐私条款</title>

</head>

<body>
    <div>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:微软雅黑; font-size:11pt">同城打车非常重视用户隐私的保护。本隐私政策适用于同城打车手机客户端和开放平台产品及服务。请您务必认真阅读本政策，在确认充分了解并同意后使用同城打车。如果您</span><span style="font-family:Tahoma; font-size:11pt">/</span><span style="font-family:微软雅黑; font-size:11pt">您的监护人不同意本隐私政策的任何内容，您应该立即停止使用。当您开始使用同城打车平台，即表示您</span>
            <span style="font-family:Tahoma; font-size:11pt">/</span><span style="font-family:微软雅黑; font-size:11pt">您的监护人已经同意我们按照本政策来收集、保存、使用、共享、保护您的个人信息。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:微软雅黑; font-size:11pt">本隐私政策主要包括以下内容：</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">1.</span><span style="font-family:微软雅黑; font-size:11pt">本隐私政策依次向您说明每项功能可能收集的个人信息范围、收集目的、收集方式，以及拒绝提供个人信息可能导致的结果。同城打车将严格遵循合法、正当、必要的原则，收集、使用用户信息，用户拒绝提供非必要信息或附加功能所需信息时，仍然能够使用同城打车平台核心功能。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.</span><span style="font-family:微软雅黑; font-size:11pt">本隐私政策将向您说明同城打车平台可能需要调取的手机权限、对应的业务功能、调用目的、调用前是否询问以及用户关闭相应权限的方式。您同意本隐私政策后，相应手机权限并不会默认开启，当涉及重要或敏感的手机权限时，我们会在您使用到相应功能时，另行弹窗再次征得您的同意后开启。权限开启后，您还可以随时通过设备设置权限关闭。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">3.</span><span style="font-family:微软雅黑; font-size:11pt">本隐私政策向您说明为保护用户个人信息安全，同城打车所采用的安全制度及技术措施，如设立信息安全委员会、制定相应规范制度、数据加密存储、加密传输、全员签署保密协议、严格控制访问权限等，来确保您的个人信息不丢失、泄露、毁损或被未经授权的访问、使用。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">4.</span><span style="font-family:微软雅黑; font-size:11pt">同城打车将严格按照本隐私政策说明的场景使用或者共享您的个人信息，如果超出本隐私政策说明的范围，我们会再次向您告知并征得您的明示同意。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:微软雅黑; font-size:11pt">本隐私政策目录如下：</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">1.</span><span style="font-family:微软雅黑; font-size:11pt">个人信息的定义与范围；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.</span><span style="font-family:微软雅黑; font-size:11pt">个人信息的收集；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">3.</span><span style="font-family:微软雅黑; font-size:11pt">设备权限调用；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">4.</span><span style="font-family:微软雅黑; font-size:11pt">我们如何使用</span><span style="font-family:Tahoma; font-size:11pt">Cookie</span><span style="font-family:微软雅黑; font-size:11pt">及同类技术；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.</span><span style="font-family:微软雅黑; font-size:11pt">个人信息的保存；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">6.</span><span style="font-family:微软雅黑; font-size:11pt">个人信息的使用；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">7.</span><span style="font-family:微软雅黑; font-size:11pt">个人信息的共享、转让、公开披露；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">8.</span><span style="font-family:微软雅黑; font-size:11pt">用户权利；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">9.</span><span style="font-family:微软雅黑; font-size:11pt">您共享的信息；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">10.</span><span style="font-family:微软雅黑; font-size:11pt">未成年人保护；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">11.</span><span style="font-family:微软雅黑; font-size:11pt">变更；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">12.  
            </span><span style="font-family:微软雅黑; font-size:11pt">如何联系我们。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">&#xa0;</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">1.</span><span style="font-family:微软雅黑; font-size:11pt">个人信息的定义与范围</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">1.1</span><span style="font-family:微软雅黑; font-size:11pt">个人信息，是指以电子或者其他方式记录的能够单独或者与其他信息结合识别自然人个人身份的各种信息，在本隐私政策中包括：姓名、昵称、手机号码、用户密码、身份信息、照片、面部识别特征、性别、年龄、职业信息、征信信息、是否有犯罪记录、是否有不良行为记录、车辆信息、驾驶证、行驶证、车辆监督卡、常用地址、通讯地址、收货地址、紧急联系人、位置信息、行程信息、航班号、通话记录、录音录像、订单信息及交易状态、支付信息、提现记录、银行卡号及其绑定手机号、评价信息、日志信息、设备信息、</span>
            <span style="font-family:Tahoma; font-size:11pt">IP</span><span style="font-family:微软雅黑; font-size:11pt">地址、手机充值记录、积分商城兑换记录。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">1.2</span><span style="font-family:微软雅黑; font-size:11pt">个人敏感信息，是指一旦泄露、非法提供或滥用可能危害人身和财产安全，极易导致个人名誉、身心健康受到损害或歧视性待遇等的个人信息，在本隐私政策中包括：手机号码、用户密码、身份证或其他身份证明、面部识别特征、征信信息、驾驶证、位置信息、行程信息、通话记录、录音录像、支付信息、提现记录、银行卡号。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">1.3</span><span style="font-family:微软雅黑; font-size:11pt">匿名化处理后的信息，即通过对个人信息的技术处理，使得个人信息主体无法被识别，且处理后不能被复原的信息，匿名化处理后的信息不属于个人信息。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">1.4</span><span style="font-family:微软雅黑; font-size:11pt">其他无法识别特定自然人身份或者反映特定自然人活动情况的信息不属于个人信息。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">&#xa0;</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.</span><span style="font-family:微软雅黑; font-size:11pt">个人信息的收集</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.1</span><span style="font-family:微软雅黑; font-size:11pt">同城打车平台业务功能分为核心业务功能、附加业务功能及第三方提供的服务，我们将详细向您说明各业务功能所收集的个人信息以及收集方法、目的，拒绝提供的影响等。业务功能具体包括：</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.1.1
            </span><span style="font-family:微软雅黑; font-size:11pt">核心业务功能，包括创建账号并完善资料，出租车、专车、快车、小巴、顺风车、公交、代驾、租车、外卖服务，交易支付，数据分析及产品开发。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.1.2
            </span><span style="font-family:微软雅黑; font-size:11pt">附加业务功能，包括学生认证、用户评价、客服服务及运营活动。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.1.3
            </span><span style="font-family:微软雅黑; font-size:11pt">第三方提供的服务，第三方提供的网约车服务、二手车、保险、办理银行卡、办理手机卡、手机充值、充流量、道路救援、理财服务、消费金融、获取周边优惠，积分商城及各类车主服务。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.2</span><span style="font-family:微软雅黑; font-size:11pt">您使用同城打车平台服务前，需要在同城打车平台创建账号并完善个人资料。通过用户主动提供的方式，我们会收集您的以下信息：</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.2.1
            </span><span style="font-family:微软雅黑; font-size:11pt">您需要向我们提供您的手机号码，并设置您在同城打车平台的用户密码。您还可以通过“微信登录”方式登录同城打车平台，如果您使用“微信登录”，我们还需要获取您在微信平台的</span><span style="font-family:Tahoma; font-size:11pt">OpenID</span><span style="font-family:微软雅黑; font-size:11pt">。我们以此识别您在同城打车平台的网络身份，并为您提供同城打车平台服务。如果您拒绝提供手机号码，同城打车平台将无法为您创建账号并提供服务。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.2.2
            </span><span style="font-family:微软雅黑; font-size:11pt">您可以选择向我们提供照片、昵称、姓名、身份证或其他身份证明、性别、年龄、行业、公司、职业、个性签名。经您授权我们可以向其他第三方获取您的征信信息、职业信息等。您可以在个人账户资料中选择是否填写或授权同城打车获取上述信息。如您提供上述信息，可以使其他用户对您有更全面的了解，提升平台信息撮合的成功率。如您拒绝提供上述信息，可能会降低平台信息撮合的成功率。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.2.3
            </span><span style="font-family:微软雅黑; font-size:11pt">如果您是驾驶员用户，必须向我们提供姓名、身份证或其他身份证明、面部识别特征、车辆品牌、型号、颜色、车牌号、驾驶证、行驶证、车辆监督卡信息、银行卡信息，我们还需要查询您的信用信息、是否有犯罪记录、是否有不良行为记录或其他不适宜作为驾驶员的情形。我们收集上述信息，是基于法律法规要求以及保护平台用户人身财产安全之需要。如果您拒绝提供上述信息，将无法作为同城打车平台的驾驶员用户向其他用户提供服务。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.2.4
            </span><span style="font-family:微软雅黑; font-size:11pt">您可以选择是否提供常用地址（包括家的地址及公司地址），设置常用地址后用户可以更便捷地填入行程起终点信息，提高服务效率。如果您拒绝设置常用地址，则需要您手动输入行程起终点信息。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.2.5
            </span><span style="font-family:微软雅黑; font-size:11pt">您可以添加紧急联系人，并设置自动分享行程的时间段。添加紧急联系人时，您可手动输入紧急联系人的姓名、手机号，也可以通过授权同城打车读取通讯录的方式直接上传紧急联系人信息。您添加紧急联系人后，开启自动分享行程或使用一键报警功能时，行程信息会通过短信自动分享给紧急联系人。如您拒绝提供紧急联系人信息，会导致您无法实时分享您的行程以达到保护自身安全的目的。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.3</span><span style="font-family:微软雅黑; font-size:11pt">您使用同城打车平台出租车、专车、快车、小巴、顺风车、代驾服务时，我们还会收集您的以下信息：</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.3.1
            </span><span style="font-family:微软雅黑; font-size:11pt">身份信息，为满足法律法规要求、更好保护用户人身财产安全以及满足平台风控要求，您使用上述部分功能前必须提供身份信息，如使用顺风车前需提供姓名、身份证或其他身份证明、面部识别特征，使用单车、电单车前需提供姓名、身份证或其他身份证明，使用共享汽车前需提供姓名、身份证或其他身份证明、驾驶证，且平台将获取您的征信信息、是否有犯罪记录或其他不适宜租赁共享汽车的情形。如您拒绝提供上述信息，同城打车平台将无法为您提供相应服务。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.3.2
            </span><span style="font-family:微软雅黑; font-size:11pt">行程信息，我们将通过记录用户行为收集您的出发地、到达地、行踪轨迹、时长及里程数信息。我们收集上述信息，是基于法律法规要求以及保护您的人身财产安全、依照平台规则处理用户纠纷之需要。如果您拒绝提供出发地、到达地，将导致平台驾驶员用户无法为您提供服务。如果您拒绝我们获取您的行踪轨迹，可能导致我们无法获得您的实际行使路线、无法更好地保护您的权益。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.3.3
            </span><span style="font-family:微软雅黑; font-size:11pt">录音信息，为提升同城打车产品安全能力、更好地处理同城打车平台的司乘纠纷，同城打车快车、专车、出租车、代驾平台或同城打车其他上线录音功能的服务，将通过软件或硬件设备录取您行程中的车内环境声音信息（包括您及车上人员交谈或肢体动作产生的声音）。受技术条件影响，同城打车平台各项服务在不同城市上线录音功能的时间不同，具体以同城打车平台显示的录音状态为准。录音起始时间、保存规则等，以同城打车平台与您另行达成的具体协议约定为准。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.3.4
            </span><span style="font-family:微软雅黑; font-size:11pt">录像信息，部分平台内注册车辆可能安装有车内视频记录仪等设备，您使用同城打车平台产品或服务过程中可能被录制视频信息。我们留存上述信息，是基于地方性法律法规要求，或用于用户发生纠纷或安全事故时，核实事实并处理投诉。录像起始时间、保存规则等，以同城打车平台与您另行达成的具体协议约定为准。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.3.5
            </span><span style="font-family:微软雅黑; font-size:11pt">如果您代他人叫车，为方便驾驶员与实际乘车人取得联系，您需要提供实际乘车人的手机号码，并选择是否填写实际乘车人的姓名。如果您拒绝提供实际乘车人手机号码，将无法代他叫车。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.3.6
            </span><span style="font-family:微软雅黑; font-size:11pt">如果您使用专车接机服务，还需要提供航班号，以查询航班到达时间，为您提供接机服务。如您拒绝提供航班号，将无法发出距离发单时间</span><span style="font-family:Tahoma; font-size:11pt">2</span><span style="font-family:微软雅黑; font-size:11pt">小时以上的起点为机场的专车预约订单。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.4</span><span style="font-family:微软雅黑; font-size:11pt">您使用同城打车平台租车服务时，为保护出租方财产权利，维护同城打车平台交易秩序，我们会要求您提供姓名、身份证或其他身份证明、驾驶证、面部识别特征、人车合影，并要求您授权同城打车平台获取您在第三方平台的信用信息。您可以选择是否提供银行卡卡号及预留手机号。如果您拒绝提供姓名、身份证或其他身份证明、面部识别特征、信用信息，您将无法使用同城打车平台租车服务。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.5</span><span style="font-family:微软雅黑; font-size:11pt">您使用同城打车平台外卖服务时，需要提供收货地址，供外卖员向您送达外卖。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.6</span><span style="font-family:微软雅黑; font-size:11pt">您在同城打车平台进行交易支付时，如果您使用第三方支付功能，同城打车将获取您的支付工具、支付账户风控信息以及支付状态。如果您使用同城打车钱包功能，您需要设置您在同城打车平台的支付密码，我们将记录您的余额、支付记录、提现记录以及银行卡号。我们收集上述信息以核实乘客是否按约支付费用、驾驶员是否违规收费，维护平台交易秩序，并按照平台规则处理用户纠纷。如果您拒绝我们获取您的银行卡号，您将无法使用同城打车钱包的提现功能，但不影响您使用同城打车平台其他服务。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.7</span><span style="font-family:微软雅黑; font-size:11pt">您可以匿名在同城打车平台对其他用户进行星级和文字评价，在此过程中请勿留存个人信息。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.8</span><span style="font-family:微软雅黑; font-size:11pt">当您与同城打车客服团队联系时，我们会以通话录音及人工录入的方式记录您的通话信息、您提出的意见或建议、您提供的姓名、联系方式，以便我们处理纠纷、解决问题或向您反馈结果。如果您拒绝我们收集此类信息，会导致您无法拨打我们的客服电话或客服团队无法将处理结果反馈到您，但不影响您使用同城打车平台核心业务功能。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.9</span><span style="font-family:微软雅黑; font-size:11pt">如果您通过同城打车平台学生中心进行学生认证，您还需提供真实姓名、身份证或其他身份证明、地区、城市、学校、学历、入学年份信息，以证明您的学生身份，享受同城打车平台为大学生用户提供的优惠服务。如您拒绝提供上述信息，将无法享受同城打车平台为大学生用户提供的专属优惠服务，但您可作为一般用户使用同城打车平台服务。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.10</span><span style="font-family:微软雅黑; font-size:11pt">您参加我们的运营活动时，我们需要您提供某些信息，可能会包含您的姓名、照片、通讯地址、联系方式、银行卡号。这些信息可以帮助我们对活动结果进行公示，对活动进行后续宣传，与您取得联系，向您发放礼品或转账。如果您拒绝提供此类信息，可能导致无法参加相应活动，或无法收到礼品、转账，但不会影响您使用同城打车平台核心业务功能。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.11</span><span style="font-family:微软雅黑; font-size:11pt">为开展数据分析和更好改善同城打车平台服务，我们会收集您的日志信息，包括检索内容、</span><span style="font-family:Tahoma; font-size:11pt">IP</span><span style="font-family:微软雅黑; font-size:11pt">地址、设备信息（包括设备型号、设备识别码、</span>
            <span style="font-family:Tahoma; font-size:11pt">SIM</span><span style="font-family:微软雅黑; font-size:11pt">卡</span><span style="font-family:Tahoma; font-size:11pt">IMSI</span><span style="font-family:微软雅黑; font-size:11pt">信息、操作系统、系统语言、分辨率、电信运营商、</span>
            <span style="font-family:Tahoma; font-size:11pt">SIM</span>
            <span style="font-family:微软雅黑; font-size:11pt">卡归属地），做出特征模型并进行用户画像，以为您提供更加个性化、便捷的服务。我们会使用浏览器网络存储机制和应用程序数据缓存，在您的设备上收集信息并进行本地存储。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.12</span><span style="font-family:微软雅黑; font-size:11pt">您使用同城打车平台以上各项功能时，我们还会收集您的以下信息：</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.12.1
            </span><span style="font-family:微软雅黑; font-size:11pt">位置信息，以便您不需要手动输入地理坐标即可获得相关的服务。在您首次使用同城打车平台前，我们会提示您选择是否允许同城打车平台获取以及何种情况下可以获取您的位置信息。在您使用同城打车平台的过程中，您可以随时通过您的设备设置功能，选择是否允许同城打车平台获取以及何种情况下可以获取您的位置信息。获得您的允许后，我们会通过</span><span style="font-family:Tahoma; font-size:11pt">IP</span>
            <span style="font-family:微软雅黑; font-size:11pt">地址、</span><span style="font-family:Tahoma; font-size:11pt">GPS</span><span style="font-family:微软雅黑; font-size:11pt">以及能够提供相关信息的其他传感器（如会为同城打车提供附近设备、</span><span style="font-family:Tahoma; font-size:11pt">Wi-Fi</span>
            <span style="font-family:微软雅黑; font-size:11pt">接入点和基站信息）来获取您的位置信息。如果您拒绝同城打车平台获取位置信息，您将需要手动定位您的位置。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.12.2
            </span><span style="font-family:微软雅黑; font-size:11pt">订单信息及交易状态。我们将记录您的订单信息及交易状态，我们收集上述信息是基于法律法规要求以及保护您的人身财产安全、依照平台规则处理用户纠纷之需要。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.12.3
            </span><span style="font-family:微软雅黑; font-size:11pt">您使用上述功能的过程中，通过同城打车平台接打电话、发送短信时，我们会收集您的通话内容、通话时长、主被叫手机号码信息，以及您通过同城打车平台发送的文字信息内容。为更好保护用户安全，同城打车平台不直接向用户提供其他用户的手机号码等联系方式，因此用户只能通过同城打车平台进行通话或信息沟通。我们通过通话录音的方式留存上述信息，以便用户发生纠纷或安全事故时，核实事实并处理投诉。如果您拒绝我们获取您的通话信息，可能导致您无法使用同城打车平台的通话及信息沟通功能。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.13</span><span style="font-family:微软雅黑; font-size:11pt">以下为您可以通过同城打车平台使用的第三方服务。您使用第三方服务过程中，我们将收集（包括您提供的信息、系统记录的信息）您的必要个人信息，将其共享给提供服务的第三方，并间接从第三方获取您使用该项服务的相关信息。如果您拒绝我们收集共享此类信息，会导致您无法使用相应的第三方服务，但不影响您使用同城打车平台核心业务功能。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.13.1
            </span><span style="font-family:微软雅黑; font-size:11pt">您通过同城打车平台使用第三方提供的网约车服务时（如秒走打车、如祺出行及同城打车平台接入的其他第三方网约车服务），我们会与第三方共享您的订单信息、评价信息、投诉信息，以便第三方为您提供网约车服务。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.13.2
            </span><span style="font-family:微软雅黑; font-size:11pt">您通过同城打车平台使用第三方提供的单车服务时，我们会收集您的手机号码、姓名、身份证或其他身份证明、位置信息、车辆信息、行程信息、交易记录，并将您的手机号码及位置信息共享给提供服务的第三方，以便第三方为您提供服务。
            </span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.13.3
            </span><span style="font-family:微软雅黑; font-size:11pt">您通过同城打车平台使用二手车服务时，根据您所选择的咨询、估值、选车或其他二手车服务，您可能需要提供手机号码以及品牌车型、当前里程、车辆所在地、上牌时间、卖车意向信息等，同城打车平台将本着必要原则与提供二手车服务的第三方共享上述全部或部分信息，以便第三方为您提供服务。如您拒绝提供上述信息，服务提供方将无法与您取得联系，提供咨询、准确的估值或其他二手车服务。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.13.4
            </span><span style="font-family:微软雅黑; font-size:11pt">您通过同城打车平台使用保险服务时，我们会收集您的身份信息、车辆信息及订单信息，并将该信息共享给提供服务的第三方，以便第三方为您提供保险服务。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.13.5
            </span><span style="font-family:微软雅黑; font-size:11pt">您通过同城打车平台办理银行卡业务时，您将直接向为您提供服务的第三方提供姓名、身份证号、银行卡号、手机号及其他个人信息，我们不会收集您的个人信息。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.13.6
            </span><span style="font-family:微软雅黑; font-size:11pt">您通过同城打车平台办理手机卡业务时，我们会收集您的姓名、身份证号、手机号码，并将其共享给提供服务的第三方，以便第三方为您办理手机卡。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.13.7
            </span><span style="font-family:微软雅黑; font-size:11pt">您通过同城打车平台办理手机充值、充流量业务时，我们会收集您的手机号码及订单信息，并将其共享给提供服务的第三方，以便第三方为您指定的手机充值、充流量。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.13.8
            </span><span style="font-family:微软雅黑; font-size:11pt">您通过同城打车平台使用理财服务时，我们会收集您的姓名、身份证号、手机号码、银行卡号，并将其共享给提供服务的第三方，以便第三方为您提供理财服务。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.13.9
            </span><span style="font-family:微软雅黑; font-size:11pt">您通过同城打车平台使用道路救援服务时，我们会收集您的车牌号、联系方式、救援起点、救援终点，并将其共享给提供道路救援服务的第三方，以便第三方为您提供救援服务。
            </span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.13.10
            </span><span style="font-family:微软雅黑; font-size:11pt">您通过同城打车平台使用消费金融服务时，基于法律法规要求及风控需求，您需要提供姓名、身份证或其他身份证明、银行卡号及其绑定手机号、面部识别特征、常用地址、联系人信息，并将其共享给提供服务的第三方。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.13.11
            </span><span style="font-family:微软雅黑; font-size:11pt">您通过同城打车平台获取周边优惠信息时，我们会收集您的位置信息，并将其匿名共享给提供服务的第三方，第三方向同城打车提供位置周边优惠信息后，同城打车将其推送给您。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.13.12
            </span><span style="font-family:微软雅黑; font-size:11pt">您通过同城打车平台积分商城使用第三方服务时，我们会获取您的兑换记录、收货地址、联系人信息，并共享给提供服务的第三方，以便其及时为您提供服务。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.14</span><span style="font-family:微软雅黑; font-size:11pt">您通过同城打车平台使用第三方服务时直接向第三方提供的个人信息，或授权同城打车共享给第三方的个人信息，将适用该第三方的隐私保护政策。当您查看第三方创建的网页或使用第三方开发的应用程序时，这些第三方可能会放置他们自己的</span><span style="font-family:Tahoma; font-size:11pt">Cookie</span>
            <span style="font-family:微软雅黑; font-size:11pt">或像素标签，这些</span><span style="font-family:Tahoma; font-size:11pt">Cookie</span><span style="font-family:微软雅黑; font-size:11pt">或像素标签不受我们的控制，且它们的使用不受本政策的约束。我们会尽商业上的合理努力去要求这些主体对您的个人信息采取保护措施，但我们无法保证这些主体一定会按照我们的要求采取保护措施。请您在使用前仔细阅读他们的隐私保护政策，以判断是否继续使用该第三方服务。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.15</span><span style="font-family:微软雅黑; font-size:11pt">您通过第三方平台使用同城打车服务（包括快车、专车、出租车）时，同城打车将会间接向第三方收集您的手机号、位置信息、订单信息以及设备号，以识别您的身份、确定您的位置并向您提供专车、快车或出租车服务。同城打车向第三方收集上述个人信息前，将对个人信息来源的合法性进行确认。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">2.16</span><span style="font-family:微软雅黑; font-size:11pt">请您理解，我们向您提供的功能和服务是不断更新和发展的，如果某一功能或服务未在前述说明中且需要收集您的信息，我们会通过页面提示、交互流程、网站公告、另行签署协议等方式另行向您说明信息收集的内容、范围和目的，以征得您的同意。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">&#xa0;</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">3.</span><span style="font-family:微软雅黑; font-size:11pt">设备权限调用</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">3.1</span><span style="font-family:微软雅黑; font-size:11pt">同城打车平台可能会调用您的一些设备权限，以下是调用权限对应的业务功能、我们调用权限的目的，以及调用权限前向您询问的情况。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">3.2</span><span style="font-family:微软雅黑; font-size:11pt">您可以在设备的设置功能中选择关闭部分或全部权限，从而拒绝同城打车收集相应的个人信息。使用</span><span style="font-family:Tahoma; font-size:11pt">Android</span><span style="font-family:微软雅黑; font-size:11pt">系统的不同设备中，权限显示方式及关闭方式可能有所不同，具体请联系设备及系统开发方。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">3.3 
                Android</span><span style="font-family:微软雅黑; font-size:11pt">系统权限调用</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">&#xa0;</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">4.</span><span style="font-family:微软雅黑; font-size:11pt">我们如何使用</span><span style="font-family:Tahoma; font-size:11pt">Cookie</span><span style="font-family:微软雅黑; font-size:11pt">及同类技术</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">4.1Cookie</span><span style="font-family:微软雅黑; font-size:11pt">是支持服务器端（或者脚本）在客户端上存储和检索信息的一种机制。当您使用同城打车产品或服务时，为使您获得更轻松安全的访问体验，我们可能会使用</span><span style="font-family:Tahoma; font-size:11pt">Cookie</span>
            <span style="font-family:微软雅黑; font-size:11pt">或同类技术来收集和存储信息，在此过程中可能会向您的设备发送一个或多个 </span><span style="font-family:Tahoma; font-size:11pt">Cookie </span><span style="font-family:微软雅黑; font-size:11pt">或匿名标识符。这么做是为了收取您的信息，用于了解您的偏好，进行咨询或数据分析，改善产品服务及用户体验，或及时发现并防范安全风险，为您提供更好的服务。我们不会将</span>
            <span style="font-family:Tahoma; font-size:11pt">Cookie</span><span style="font-family:微软雅黑; font-size:11pt">用于本政策所述目的之外的任何用途，您可根据自己的偏好留存或删除</span><span style="font-family:Tahoma; font-size:11pt">Cookie</span><span style="font-family:微软雅黑; font-size:11pt">。您可清除软件内保存的所有</span>
            <span style="font-family:Tahoma; font-size:11pt">Cookie</span>
            <span style="font-family:微软雅黑; font-size:11pt">，当您手动清除后您的相关信息即已删除。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">4.2</span><span style="font-family:微软雅黑; font-size:11pt">我们平台上还可能包含一些电子图像（以下简称“单像素</span><span style="font-family:Tahoma; font-size:11pt">GIF</span><span style="font-family:微软雅黑; font-size:11pt">文件”或“网络</span>
            <span style="font-family:Tahoma; font-size:11pt">Beacon</span><span style="font-family:微软雅黑; font-size:11pt">”），使用网络</span><span style="font-family:Tahoma; font-size:11pt">Beacon</span><span style="font-family:微软雅黑; font-size:11pt">可以计算浏览网页的用户或访问某些</span>
            <span style="font-family:Tahoma; font-size:11pt">Cookie</span>
            <span style="font-family:微软雅黑; font-size:11pt">，我们会通过网络</span><span style="font-family:Tahoma; font-size:11pt">Beacon</span><span style="font-family:微软雅黑; font-size:11pt">收集您浏览网页活动的信息，例如：</span><span style="font-family:Tahoma; font-size:11pt">Internet</span>
            <span style="font-family:微软雅黑; font-size:11pt">协议</span>
            <span style="font-family:Tahoma; font-size:11pt">(IP)</span><span style="font-family:微软雅黑; font-size:11pt">地址，浏览器类型，</span><span style="font-family:Tahoma; font-size:11pt">Internet</span><span style="font-family:微软雅黑; font-size:11pt">服务提供商（</span>
            <span style="font-family:Tahoma; font-size:11pt">ISP</span>
            <span style="font-family:微软雅黑; font-size:11pt">），参考</span><span style="font-family:Tahoma; font-size:11pt">/</span><span style="font-family:微软雅黑; font-size:11pt">退出页面，操作系统，日期</span><span style="font-family:Tahoma; font-size:11pt">/</span>
            <span style="font-family:微软雅黑; font-size:11pt">时间戳，和点击数据流等。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">&#xa0;</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.</span><span style="font-family:微软雅黑; font-size:11pt">个人信息的保存</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.1</span><span style="font-family:微软雅黑; font-size:11pt">信息保存期限</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.1.1
            </span><span style="font-family:微软雅黑; font-size:11pt">在用户使用同城打车平台服务期间，我们会持续保存用户的个人信息。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.1.2
            </span><span style="font-family:微软雅黑; font-size:11pt">当您自主删除个人信息或注销账户，我们将按照法律、法规规定的最短期限保留您的现有个人信息，在法律法规要求的最短保存期限内，我们将不再对您的个人信息进行商业化使用。当您的个人信息超出上述保存期限，我们将会对其进行匿名化处理。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">a.</span><span style="font-family:微软雅黑; font-size:11pt">为配合人民检察院、公安机关、国家安全机关侦查用户使用同城打车服务过程中产生的犯罪行为，更好保护其他用户生命财产安全，当用户自主删除个人信息或注销账户，我们将在刑法规定的犯罪追诉时效期间内，加密隔离存档用户个人信息。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">b.</span><span style="font-family:微软雅黑; font-size:11pt">如您使用同城打车平台服务的过程中，存在严重违反法律法规、平台协议、平台规则等情形，您的违法、违约记录及相应的平台信用记录，将被永久保存。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">c.</span><span style="font-family:微软雅黑; font-size:11pt">同城打车与您另行签署的具体的隐私协议就某类信息的保存期限做特殊约定的，从其约定。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.2</span><span style="font-family:微软雅黑; font-size:11pt">信息存放地域</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.2.1
            </span><span style="font-family:微软雅黑; font-size:11pt">我们收集的您的个人信息，将在中国内地存储和使用。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.2.2
            </span><span style="font-family:微软雅黑; font-size:11pt">如涉及向境外传输个人信息，我们将明确向您告知个人信息出境的目的、接收方、安全保障措施等情况，并另行征得您的同意。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.3</span><span style="font-family:微软雅黑; font-size:11pt">安全保护措施</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.3.1
            </span><span style="font-family:微软雅黑; font-size:11pt">本公司将采用严格的安全制度以及行业通行的安全技术和程序来确保您的个人信息不丢失、泄露、毁损或被未经授权的访问、使用。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.3.2
            </span><span style="font-family:微软雅黑; font-size:11pt">同城打车采取以下安全技术措施保护您的个人信息：</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">a.</span><span style="font-family:微软雅黑; font-size:11pt">用户个人信息被加密储存在服务器中，并通过数据隔离技术进行存储。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">b.</span><span style="font-family:微软雅黑; font-size:11pt">数据传输过程中使用加密传输协议。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">c.</span><span style="font-family:微软雅黑; font-size:11pt">严格控制数据访问权限，设立完善的敏感数据访问权限申请、审批制度。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">d.</span><span style="font-family:微软雅黑; font-size:11pt">建立数据安全监控和审计制度，进行全面数据安全控制。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.3.3
            </span><span style="font-family:微软雅黑; font-size:11pt">同城打车同时采取其他安全措施保护您的个人信息：</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">a.</span><span style="font-family:微软雅黑; font-size:11pt">建立公司信息安全委员会，统一协调管理数据安全工作，并下设数据安全小组、推动各项数据安全活动。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">b.</span><span style="font-family:微软雅黑; font-size:11pt">公司内部颁布实施数据安全管理规范，明确对用户数据（包括用户个人信息）的保护标准和要求。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">c.</span><span style="font-family:微软雅黑; font-size:11pt">新项目、新系统上线前对数据安全（包括用户个人信息数据）进行项目风险评估。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">d.</span><span style="font-family:微软雅黑; font-size:11pt">与全体员工及服务外包人员签署保密协议，并严格按照工作职责分配数据访问权限。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">e.</span><span style="font-family:微软雅黑; font-size:11pt">定期开展面向公司全体员工及外包服务人员的信息安全教育及培训。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.4</span><span style="font-family:微软雅黑; font-size:11pt">安全事件处置</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.4.1
            </span><span style="font-family:微软雅黑; font-size:11pt">为应对个人信息泄露、毁损、丢失等可能出现的安全风险，已经在公司范围内颁布多项制度，明确了安全事故、安全漏洞的分类分级标准，以及针对上述安全事故和漏洞，内部处理流程（包括应急响应流程）和补救措施。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.4.2
            </span><span style="font-family:微软雅黑; font-size:11pt">一旦发生安全事件，我们将及时向您告知事件基本情况和风险、我们已经采取或将要采取的措施、您如何自行降低风险的建议等。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.4.3
            </span><span style="font-family:微软雅黑; font-size:11pt">我们将及时以推送通知、信函或电话等方式将安全事件情况通知受影响的用户。当难以逐一告知用户时，我们将通过发布平台公告的方式发布警示信息。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.5</span><span style="font-family:微软雅黑; font-size:11pt">停止运营</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.5.1
            </span><span style="font-family:微软雅黑; font-size:11pt">如同城打车平台停止运营，我们将至少提前</span><span style="font-family:Tahoma; font-size:11pt">30</span><span style="font-family:微软雅黑; font-size:11pt">日在同城打车平台发布公告，并及时停止收集个人信息。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">5.5.2
            </span><span style="font-family:微软雅黑; font-size:11pt">停止运营后，我们将停止对个人信息的商业化使用，并在满足法律法规规定的最短保存期后，对收集的个人信息进行匿名化处理。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">&#xa0;</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">6.</span><span style="font-family:微软雅黑; font-size:11pt">个人信息的使用</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">6.1</span><span style="font-family:微软雅黑; font-size:11pt">您的个人信息会被用于“个人信息的收集”条款明确列明的使用场景。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">6.2</span><span style="font-family:微软雅黑; font-size:11pt">您的个人信息可能被用于以下与“个人信息的收集”条款所声称的目的具有直接或合理关联的场景：</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">a.</span><span style="font-family:微软雅黑; font-size:11pt">我们可能将来自同城打车平台某项服务的个人信息与来自其他项服务的信息结合起来，做出特征模型并进行用户画像，以为您提供更加个性化、便捷的服务。我们承诺在使用用户画像的过程中，不会侵害公民、法人和其他组织的合法权益，不会危害国家安全、荣誉和利益。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">b.</span><span style="font-family:微软雅黑; font-size:11pt">我们可能以用户个人信息统计数据为基础设计、开发、推广全新的产品及服务。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">c.</span><span style="font-family:微软雅黑; font-size:11pt">我们会对我们的服务使用情况进行统计，并可能会与公众或第三方分享这些统计信息，但这些统计信息不包含您的任何身份识别信息。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">d.</span><span style="font-family:微软雅黑; font-size:11pt">我们会向您发送信息和通知，包括但不限于为保证服务完成所必需的验证码、使用产品或服务时所必要的推送通知、关于同城打车平台服务的新闻以及市场活动及优惠促销信息、同城打车合作第三方的推广信息，或其他您可能感兴趣的内容。如您不希望继续接收上述信息，可以根据信息中提供的退订方式予以退订。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">6.3</span><span style="font-family:微软雅黑; font-size:11pt">凡是超出与“个人信息的收集”条款声称目的具有直接或合理关联的范围使用您的个人信息，我们会再次向您告知并征得您的明示同意。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">6.4</span><span style="font-family:微软雅黑; font-size:11pt">另外，根据相关法律法规及国家标准，以下情形中，我们可能会收集、使用您的相关个人信息而无需征求您的授权同意：</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">a.</span><span style="font-family:微软雅黑; font-size:11pt">与国家安全、国防安全直接相关的；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">b.</span><span style="font-family:微软雅黑; font-size:11pt">与公共安全、公共卫生、重大公共利益直接相关的；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">c.</span><span style="font-family:微软雅黑; font-size:11pt">与犯罪侦查、起诉、审判和判决执行等直接相关的；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">d.</span><span style="font-family:微软雅黑; font-size:11pt">出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">e.</span><span style="font-family:微软雅黑; font-size:11pt">所收集的个人信息是个人信息主体自行向社会公众公开的；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">f.</span><span style="font-family:微软雅黑; font-size:11pt">从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">g.</span><span style="font-family:微软雅黑; font-size:11pt">其他法律法规等规定的情形。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">&#xa0;</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">7.</span><span style="font-family:微软雅黑; font-size:11pt">个人信息的共享、转让、公开披露</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">7.1</span><span style="font-family:微软雅黑; font-size:11pt">共享是指同城打车向其他个人信息控制者提供个人信息，且双方分别对个人信息拥有独立控制权的过程。同城打车不会对外共享您的个人信息，但以下情况除外：</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">7.1.1
            </span><span style="font-family:微软雅黑; font-size:11pt">在获取明确同意情况下的共享：获得您的明确同意后，同城打车会向您指定的第三方共享您授权范围内的信息。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">7.1.2
            </span><span style="font-family:微软雅黑; font-size:11pt">在法定情形下的共享：同城打车可能会根据法律法规规定、诉讼争议解决需要，或按行政、司法机关依法提出的要求，对外共享您的个人信息。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">7.1.3
            </span><span style="font-family:微软雅黑; font-size:11pt">共享给同城打车的关联公司：您的信息可能会在同城打车的关联公司内共享。例如，对于使用同一套账户体系的业务，我们会在关联公司内共享您的账户信息（账户、密码、昵称及其他用户基础资料）；出于维护平台秩序、保护平台或其他用户合法权利的需要，我们会在关联公司内共享用户违法、违约、违反平台规则的行为。我们只会共享必要的个人信息，且受本隐私政策中所声明目的的约束，如果我们共享您的个人敏感信息或关联公司改变个人信息的使用及处理目的，将再次征求您的授权同意。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">7.1.4
            </span><span style="font-family:微软雅黑; font-size:11pt">共享给业务合作伙伴：同城打车可能会向合作伙伴等第三方共享您的个人信息，以保障为您提供的服务顺利完成。但我们仅会出于合法、正当、必要、特定、明确的目的共享您的个人信息，并且只会共享提供服务所必要的个人信息。我们的合作伙伴包括：</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">a.</span><span style="font-family:微软雅黑; font-size:11pt">您通过同城打车平台使用第三方服务时，同城打车会按照“个人信息的收集”条款列明的共享内容与提供服务的第三方共享您的个人信息。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">b.</span><span style="font-family:微软雅黑; font-size:11pt">广告、分析服务类的授权合作伙伴。我们会委托这些合作伙伴处理与广告覆盖面和有效性相关的信息，但不会提供您的个人身份信息，或者我们将这些信息进行去标识化处理，以便它不会识别您个人。这类合作伙伴可能将上述信息与他们合法获取的其他数据相结合，以执行我们委托的广告服务或决策建议。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">c.</span><span style="font-family:微软雅黑; font-size:11pt">如果您所属企业是同城打车的企业用户，且您选择由企业代您支付用车订单，我们会与企业共享您或者您填写的乘车人的姓名、手机号、邮箱、订单信息及交易状态、支付信息，以便您所属的企业核实情况并支付相应的费用。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">d.</span><span style="font-family:微软雅黑; font-size:11pt">如果您通过同城打车平台参加第三方举办或者同城打车与第三方联合举办的营销、推广活动，同城打车需要与第三方共享您的姓名、手机号码、收货地址、银行卡号或者其他必要的信息，以方便第三方统计活动参与情况、获奖情况，为您绑定您获取的优惠券、发放权益、邮寄您获取的奖品等。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">e.</span><span style="font-family:微软雅黑; font-size:11pt">供应商、服务提供商或其他合作伙伴。同城打车可能会将您的个人信息共享给支持我们功能的第三方，包括为我们提供基础设施技术服务、实名验证服务及其他身份验证服务、人脸识别服务、支付服务、数据处理服务的第三方等。我们共享这些信息的目的是为实现产品及服务的功能，比如我们需要将您的姓名和身份证号共享给实名验证服务供应商，以进行实名验证；或者我们需要与人脸识别供应商共享您的面部识别特征及姓名、身份证号，以识别您是否本人使用服务；或者我们需要将您的订单号和订单金额与第三方支付机构共享以实现其确认您的支付指令并完成支付等。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:微软雅黑; font-size:11pt">同城打车会与共享个人信息的公司、组织和个人签署严格的保密协议，要求他们严格按照本政策声明的目的使用个人信息以及采取相关的保密和安全措施来处理个人信息。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">7.1.5
            </span><span style="font-family:微软雅黑; font-size:11pt">为维护用户合法权益，在协助处理与您有关的交易纠纷或争议时，我们可能向您的交易相对方或存在利害关系的第三方提供解决交易纠纷或争议所必需的信息。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">7.2</span><span style="font-family:微软雅黑; font-size:11pt">如发生收购、兼并、重组等变更，我们会要求变更后的主体依然遵守本隐私政策约定，履行原有责任及义务。如变更后的主体需变更个人信息使用目的，我们会要求其事先获得您的明示同意。对内而言，在之前的收购、兼并活动中，对于被收购、被兼并对象管理的数据（包括用户数据）均采用与同城打车自有数据相同的标准和要求进行处理和保护。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">7.3</span><span style="font-family:微软雅黑; font-size:11pt">我们将遵守相关法律法规，对您的个人信息予以保密。除非事先获得您的明确同意或授权，或依照法律规定所必须，我们不会公开披露您的个人信息。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">7.4</span><span style="font-family:微软雅黑; font-size:11pt">另外，根据相关法律法规及国家标准，以下情形中，我们可能会共享、转让、公开披露个人信息无需事先征得个人信息主体的授权同意：</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">a.</span><span style="font-family:微软雅黑; font-size:11pt">与国家安全、国防安全直接相关的；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">b.</span><span style="font-family:微软雅黑; font-size:11pt">与公共安全、公共卫生、重大公共利益直接相关的；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">c.</span><span style="font-family:微软雅黑; font-size:11pt">与犯罪侦查、起诉、审判和判决执行等直接相关的；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">d.</span><span style="font-family:微软雅黑; font-size:11pt">出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">e.</span><span style="font-family:微软雅黑; font-size:11pt">个人信息主体自行向社会公众公开的个人信息；</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">f.</span><span style="font-family:微软雅黑; font-size:11pt">从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">&#xa0;</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">8.</span><span style="font-family:微软雅黑; font-size:11pt">用户权利</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">8.1</span><span style="font-family:微软雅黑; font-size:11pt">访问个人信息。您可以通过以下方式在同城打车平台访问个人信息：</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">a.</span><span style="font-family:微软雅黑; font-size:11pt">账户，您可以通过同城打车平台侧边栏</span><span style="font-family:Tahoma; font-size:11pt">-</span><span style="font-family:微软雅黑; font-size:11pt">点击头像，访问您提供的个人资料信息。您还可以通过同城打车平台顺风车</span>
            <span style="font-family:Tahoma; font-size:11pt">-</span><span style="font-family:微软雅黑; font-size:11pt">点击人形图标，访问您的车主认证、证件验真、信用认证、职业认证、支付认证、信任值等情况。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">b.</span><span style="font-family:微软雅黑; font-size:11pt">订单，您可以通过同城打车平台侧边栏</span><span style="font-family:Tahoma; font-size:11pt">-</span><span style="font-family:微软雅黑; font-size:11pt">订单，访问您的行程信息、订单信息及交易状态。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">c.</span><span style="font-family:微软雅黑; font-size:11pt">安全，您可以通过同城打车平台侧边栏</span><span style="font-family:Tahoma; font-size:11pt">-</span><span style="font-family:微软雅黑; font-size:11pt">安全，访问您设置的紧急联系人、实名认证情况、位置权限授权情况、录音录像状态。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">d.</span><span style="font-family:微软雅黑; font-size:11pt">钱包，您可以通过同城打车平台侧边栏</span><span style="font-family:Tahoma; font-size:11pt">-</span><span style="font-family:微软雅黑; font-size:11pt">钱包，访问您的余额、理财余额、积分、支付方式开通情况、支付方式、支付记录、券及卡的情况等信息。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">8.2</span><span style="font-family:微软雅黑; font-size:11pt">更正个人信息。当您需要更新您的个人信息，或发现同城打车平台收集、存储的个人信息有错误时，您有权做出更正或更新。您可以通过将您的更正申请提交给同城打车客服团队，或通过以下方式在同城打车平台自行更正或修改个人信息：</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">a.</span><span style="font-family:微软雅黑; font-size:11pt">账户，您可以通过您在同城打车平台的账户更正或修改您提供的个人资料信息。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">b.</span><span style="font-family:微软雅黑; font-size:11pt">设置，您可以通过同城打车平台设置功能更正或修改密码、常用地址、紧急联系人、行程安全设置等信息。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">c.</span><span style="font-family:微软雅黑; font-size:11pt">钱包，您可以通过同城打车平台的钱包功能更正或修改支付方式、银行账号等信息。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">8.3</span><span style="font-family:微软雅黑; font-size:11pt">删除个人信息。如您希望删除个人信息，可以线上或电话联系同城打车客服，提交删除申请。在满足法律法规要求的最短保存期限要求的情况下，我们将对您的个人信息进行删除或匿名化处理。在上述法律法规要求的最短保存期限内，我们将不再对您的个人信息进行商业化使用。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:微软雅黑; font-size:11pt">但当同城打车存在以下情形时，您删除个人信息的申请将不受法律法规要求的最短保存期限限制：</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">a.</span><span style="font-family:微软雅黑; font-size:11pt">同城打车违反法律、行政法规的规定收集、使用您的个人信息。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">b.</span><span style="font-family:微软雅黑; font-size:11pt">同城打车违反我们双方的约定收集、使用您的个人信息。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">8.4</span><span style="font-family:微软雅黑; font-size:11pt">撤回同意。我们将通过以下方式保障用户撤回同意的权利：</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">a.</span><span style="font-family:微软雅黑; font-size:11pt">同城打车平台发送的商业广告信息中，会向您说明具体退订方式，您可以按照信息中说明的退订方式撤回同意。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">b.</span><span style="font-family:微软雅黑; font-size:11pt">您可以通过设备的设置功能，关闭相应设备权限（包括位置、通讯录、照片、麦克风、相机、通知等），撤回对同城打车获取您个人信息的授权。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">c.</span><span style="font-family:微软雅黑; font-size:11pt">您还可以通过解除银行卡绑定、删除信息等方式撤回部分授权。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:微软雅黑; font-size:11pt">当您撤回同意或授权后，可能导致我们无法为您继续提供撤回授权部分对应的服务。但您撤回同意或授权，不影响撤回前基于您的同意开展的个人信息处理。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">8.5</span><span style="font-family:微软雅黑; font-size:11pt">注销账号。您可以通过同城打车平台设置功能注销在同城打车平台的账号。除法律法规另有规定外，注销账号之后我们将停止为您提供服务，并根据本协议约定期限保存您的个人信息，保存期限届满后我们将对您的个人信息进行匿名化处理。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">8.6</span><span style="font-family:微软雅黑; font-size:11pt">如您无法通过上述方式访问、更正、删除个人信息，撤回同意或注销账号，您可以通过手机客户端的“客服”功能在线或者电话与同城打车的客服团队取得联系。同城打车客服团队可能需要验证您的身份，并在验证您的身份后</span><span style="font-family:Tahoma; font-size:11pt">15</span>
            <span style="font-family:微软雅黑; font-size:11pt">日内作出答复或合理解释。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">&#xa0;</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">9.</span><span style="font-family:微软雅黑; font-size:11pt">您共享的信息</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">9.1</span><span style="font-family:微软雅黑; font-size:11pt">您可以基于同城打车平台的服务与他人、社交网络分享您的位置、行程信息，并自主选择分享的对象，作为能够看到您的位置、行程信息的第三方。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">9.2</span><span style="font-family:微软雅黑; font-size:11pt">当您与他人、社交网络或第三方服务提供商共享您的位置、行程或其他个人信息，或结合第三方的服务使用、或使用第三方的服务链接时，您可能会披露或使第三方获取您的个人信息。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">9.3</span><span style="font-family:微软雅黑; font-size:11pt">我们建议您查看此类社交网络或第三方服务提供商的隐私声明，以了解他们如何处理您的信息。对于您使用第三方服务时向其提供或与他人分享个人信息而产生的后果由您自行承担，并由相应责任方在法律规定范围内承担责任。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">9.4</span><span style="font-family:微软雅黑; font-size:11pt">当您在同城打车平台公开分享任何信息时，任何人都可能在使用同城打车平台时查看或访问这些信息，如您在同城打车平台上传的照片、评价等信息。您在使用我们服务时自愿共享的信息，可能会涉及您或他人的个人信息，请您谨慎选择并自行承担责任。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">&#xa0;</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">10.</span><span style="font-family:微软雅黑; font-size:11pt">未成年人保护</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">10.1</span><span style="font-family:微软雅黑; font-size:11pt">同城打车非常重视对未成年人信息的保护。如果您是未满</span><span style="font-family:Tahoma; font-size:11pt">18</span><span style="font-family:微软雅黑; font-size:11pt">周岁的未成年人，您的监护人需要仔细阅读本政策并授权您同意依照本政策使用同城打车平台。如果您是未满</span>
            <span style="font-family:Tahoma; font-size:11pt">14</span><span style="font-family:微软雅黑; font-size:11pt">周岁的未成年人，您的监护人需要仔细阅读本政策并同意您依照本政策使用同城打车平台。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">10.2</span><span style="font-family:微软雅黑; font-size:11pt">如果您</span><span style="font-family:Tahoma; font-size:11pt">/</span><span style="font-family:微软雅黑; font-size:11pt">您的监护人不同意本隐私政策的任何内容，您应该立即停止使用同城打车平台。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">&#xa0;</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">11.</span><span style="font-family:微软雅黑; font-size:11pt">变更</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">11.1</span><span style="font-family:微软雅黑; font-size:11pt">如同城打车平台发生以下变化，我们将及时对本隐私政策进行相应的修订：</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">a.</span><span style="font-family:微软雅黑; font-size:11pt">同城打车平台业务功能发生变更。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">b.</span><span style="font-family:微软雅黑; font-size:11pt">用户个人信息保存地域发生变更。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">c.</span><span style="font-family:微软雅黑; font-size:11pt">用户个人信息的使用规则发生变更。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">d.</span><span style="font-family:微软雅黑; font-size:11pt">我们的联络方式及投诉渠道发生变更。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">e.</span><span style="font-family:微软雅黑; font-size:11pt">发生其他可能影响用户个人信息安全或影响用户隐私权利的变更等。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">11.2</span><span style="font-family:微软雅黑; font-size:11pt">隐私政策修订后，我们会在同城打车平台发布最新版本，并以推送通知或者平台公示的方式告知用户，以便用户及时了解最新版本隐私政策。</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">11.3</span><span style="font-family:微软雅黑; font-size:11pt">未经您的明确同意，我们不会削减您按照本隐私政策所享有的权利。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">&#xa0;</span>
        </p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">12.</span><span style="font-family:微软雅黑; font-size:11pt">如何联系我们</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">12.1</span><span style="font-family:微软雅黑; font-size:11pt">您可以通过手机客户端的“客服”功能在线或者电话与同城打车的客服团队取得联系，反馈您的意见或投诉。</span></p>
        <p style="line-height:2; margin:0pt 0pt 10pt"><span style="font-family:Tahoma; font-size:11pt">12.2</span><span style="font-family:微软雅黑; font-size:11pt">我们还设立了个人信息反馈专用邮箱，您可以将您的问题发送至以下邮箱地址：</span><span style="font-family:Tahoma; font-size:11pt">tongchengdache@163.com</span><span style="font-family:微软雅黑; font-size:11pt">，我们将尽快核实并处理您反馈的问题。</span></p>
    </div>

</body>

</html>