<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>车主报名注册协议</title>
</head>

<body>
    <div>
        <p style="font-size:14pt; line-height:115%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:宋体; font-size:14pt; font-weight:bold">车主报名注册协议</span></p>
        <p style="font-size:12pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:宋体; font-size:12pt">您知悉并同意，您可通过注册新的</span><span style="font-family:宋体; font-size:12pt">同城打车车主</span><span style="font-family:宋体; font-size:12pt">账号或登录您现有的</span><span style="font-family:宋体; font-size:12pt">车主</span>
            <span style="font-family:宋体; font-size:12pt">账号以使用</span><span style="font-family:宋体; font-size:12pt">同城打车</span><span style="font-family:宋体; font-size:12pt">司机端</span><span style="font-family:宋体; font-size:12pt">所提供的服务并应遵守《</span>
            <span style="font-family:宋体; font-size:12pt">车主报名注册</span><span style="font-family:宋体; font-size:12pt">协议》中的各项规定。</span></p>
        <p style="font-size:12pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:12pt">1.</span><span style="font-family:宋体; font-size:12pt">您承诺向</span><span style="font-family:宋体; font-size:12pt">同城打车司机端</span><span style="font-family:宋体; font-size:12pt">所提供的信息真实、准确、完整。</span>
            <span style="font-family:宋体; font-size:12pt">同城打车司机端</span><span style="font-family:宋体; font-size:12pt">有权要求您提供各项信息文件，并验证其真实性，当查验您提供的信息可能缺乏真实性、准确性时，</span><span style="font-family:宋体; font-size:12pt">同城打车司机端</span><span style="font-family:宋体; font-size:12pt">有权进一步要求您提供其他证明文件或拒绝向您提供服务或拒绝您使用有关网站、服务、应用程序。</span></p>
        <p style="font-size:12pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:12pt">2.</span><span style="font-family:宋体; font-size:12pt">您应是您注册账号的唯一授权使用人，可根据自己的需求使用，但不得以任何形式将账号转让或出借他人使用。未经我公司书面同意，您也不得将账号相关的权利义务转让给他人。</span>
        </p>
        <p style="font-size:12pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:12pt">3.</span><span style="font-family:宋体; font-size:12pt">鉴于网络服务的特殊性，除您为接送乘客而使用平台服务时外</span><span style="font-family:宋体; font-size:12pt">，</span><span style="font-family:宋体; font-size:12pt">同城打车</span>
            <span style="font-family:宋体; font-size:12pt">无义务审核是否是用户本人使用该账号，仅审核用户身份识别信息是否与数据库中保存的一致，所以即使用户认为账号登录行为并非用户本人所为，</span><span style="font-family:宋体; font-size:12pt">同城打车</span><span style="font-family:宋体; font-size:12pt">将不承担因此而产生的任何责任。</span></p>
        <p style="font-size:12pt; line-height:2; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:12pt">&#xa0;</span></p>
        <p style="font-size:12pt; line-height:115%; margin:0pt 0pt 10pt; orphans:0; text-align:justify; widows:0"><span style="font-family:Calibri; font-size:12pt">&#xa0;</span></p>

    </div>

</body>

</html>