<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
          <meta name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
          <meta name="mobile-web-app-capable" content="yes">
          <meta name="apple-mobile-web-app-capable" content="yes">
          <meta name="apple-mobile-web-app-status-bar-style" content="black">
          <meta name="format-detection" content="address=no">
    </head>
<body>
<script type="text/javascript" src="//3gimg.qq.com/lightmap/components/locationPicker2/js/main-62c2e3b971.js">
<script src="__HOME__/js/jquery-2.1.1.min.js"></script>    
 <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
 
  <iframe id="iframe" width="100%" height="800" frameborder=0
    src="https://apis.map.qq.com/tools/locpicker?search=1&type=1&key=NN5BZ-IUBCD-3SZ4Z-PBX4T-PKOS2-TDF5B&referer=myapp">
</iframe>
<!--src="https://apis.map.qq.com/tools/locpicker?search=1&type=1&key=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77&referer=myapp">-->
<style>
    * {
      margin: 0;
      padding: 0;
    }

    body,
    html {
      overflow: hidden;
    }
  </style>
 <script>

  $(function () {

      adaptHeight(); //动态适配高度

      window.onresize = function () { //横屏、QQ浏览器变全屏模式下的时候，需要重新计算高度              
        adaptHeight();
      }

      window.addEventListener('message', function (event) {
        var loc = event.data;
        alert('你使用的组件是' + loc.module + ',刚选择了' + loc.poiname + ',它位于' + loc.poiaddress + ',它的经纬度是：' + loc.latlng
          .lat + ',' + loc.latlng.lng + ',所属城市为:' + loc.cityname)
      }, false);

      function adaptHeight() {
        var winH = $(window).height();
        var bodyH = document.documentElement.clientHeight;
        if (winH > bodyH) {
          window.parent.document.getElementById("iframe").height = winH;
        } else {
          window.parent.document.getElementById("iframe").height = bodyH;
        }
      }
    });

 </script>
</body>
</html>