html {
  font-size: 100px;
  height: 100%;
  min-height: 100vh;
  background-color: RGBA(243, 243, 249, 1);
}

header {
  background-color: #3275fd;
  position: relative;
  overflow: hidden;
  text-align: center;
}

header .title {
  margin-top: 0.36rem;
  font-size: 0.36rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

header .avata {
  margin-top: 0.65rem;
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
}

header .avata > img {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}

header .name {
  text-align: center;
  font-size: 0.3rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0.7rem;
  position: relative;
  z-index: 2;
}

header .bolang {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.mainWrap {
  overflow: hidden;
  padding: 0 0.25rem;
}

.mainWrap .topWrap {
  margin-top: 0.22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainWrap .topWrap .item {
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mainWrap .topWrap .item > img {
  width: 0.74rem;
  height: 0.74rem;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}

.mainWrap .topWrap .item > p {
  margin-bottom: 0.3rem;
  font-size: 0.3rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #333333;
}

.mainWrap .lisrWrap {
  background-color: #fff;
  margin-top: 0.22rem;
  padding: 0.22rem 0.3rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
}

.mainWrap .lisrWrap .listItemLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainWrap .lisrWrap .listItemLeft > div {
  width: 0.6rem;
  height: 0.6rem;
  background-color: #3275fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-right: 0.2rem;
}

.mainWrap .lisrWrap .listItemLeft > div > img {
  width: 0.32rem;
  height: 0.32rem;
}

.mainWrap .lisrWrap .listItemLeft > p {
  font-size: 0.3rem;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: #333333;
}

.mainWrap .lisrWrap .listItemRight {
  width: 0.2rem;
  height: 0.2rem;
  border-top: 0.01rem solid #999;
  border-right: 0.01rem solid #999;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.phoneHeader {
  width: 100%;
  height: calc(100vw * 3.2rem / 7.5rem);
}

.PhoneMainWrap {
  overflow: hidden;
  padding-left: 0.25rem;
  background-color: #fff;
  margin-top: 0.2rem;
}

.PhoneMainWrap .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .36rem 0;
  padding-right: .4rem;
  font-size: 0.3rem;
  font-weight: normal;
  color: #282828;
}

.PhoneMainWrap .getCode {
  border: 0.01rem solid #1b82d1;
  color: #1b82d1;
  padding: 0.1rem;
  border-radius: 5px;
  font-size: 0.24rem;
}

.PhoneMainWrap .getCode:active {
  background-color: #1b82d1;
  color: #fff;
}

.save {
  position: fixed;
  width: calc(100vw - 1.5rem);
  left: 50%;
  bottom: 0.5rem;
  padding: 0.32rem;
  text-align: center;
  background-color: rgba(27, 130, 209, 0.9);
  border-radius: 0.15rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.38rem;
  font-weight: normal;
  color: #ffffff;
  letter-spacing: 0.06rem;
}
/*# sourceMappingURL=index.css.map */